html ::after,
html ::before{
    font-size:62.5%;
   /* height: 100vh;*/
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

   html{font-size:62.5%;}

   picture{height: 50%;
            width: auto;}
    img{
        width: 100%;
        height: 100%;
     }


    body{height: 100%  ;
        background-image: url(../imagenes/fondo.jpg);
        background-size:cover;
        min-height: 100vh;
       
    

        
            ul{list-style: none;
                text-decoration: none;
                a{text-decoration: none;}    



        }


        }


@media only screen and (max-width: 600px) {
    

html{ 
    font-size:38%;
   }}

